# Ignore built files
extension/dist/
# Ignore NPM modules
node_modules/
# Ignore Windows thumbnails
**/Thumbs.db
# Ignore zipped file in root used for production deployment to Chrome Web Store
extension.zip
emotie.zip